.faqcontainer {
  background-color: var(--primarycolor);
  padding: 5rem 0rem;
}
.faqbg {
  background-image: url("../../Assets/faqbg.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  background-size: cover;
}
.faqtitle {
  font-family: Syne;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 7rem;
  letter-spacing: 0em;
  text-align: center;
  /* color: var(--headingcolor); */
  width: 70%;
  margin: auto;
  background: linear-gradient(0deg, #a7a7a7, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}
.faqquestioncontainer {
  width: 51%;
  margin: auto;
  background: var(--primarycolor);
  border: 1px solid white;
  border-radius: 0.8rem;
  border-top: none;
  /* box-shadow: rgb(255 255 255 / 7%) 0px 1px 1px,
    rgb(255 255 255 / 1%) 0px 2px 2px, rgb(255 255 255 / 1%) 0px 4px 4px,
    rgb(255 255 255 / 20%) 0px 8px 8px, rgb(255 255 255 / 1%) 0px 16px 16px; */
}
.faqquestions {
  padding-top: 7rem;
}
.faqquestiontitle {
  font-family: var(--font-family-syne);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 0em;
  text-align: left;
}
.faqquestiondesc {
  font-family: var(--font-family-nunito);
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.7rempx;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 2rem;
}
/* .faqbg {
  transform: translate(0rem, -44rem);
  z-index: -1;
  position: absolute;
  background: var(--primarycolor);
} */
.faqquestioncontainer.open {
  background-color: #00ff00; /* Green color - you can change this to your preferred color */
}

@media (max-width: 768px) {
  .faqcontainer {
    background-color: var(--primarycolor);
    padding: 2rem 0rem;
  }
  .faqtitle {
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 5rem;
    width: 90%;
  }
  .faqquestioncontainer {
    width: 90%;
  }
  .faqquestions {
    padding-top: 2rem;
  }
}
