.hitcontainer {
  background-color: #1d1c1f;
  padding: 8rem 0rem;
  z-index: 3;
  position: relative;
}
.hittop {
  font-family: var(--font-family-syne);
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 8.3rem;
  letter-spacing: 0em;
  text-align: center;
  /* color: var(--headingcolor); */
  background: linear-gradient(
    to right,
    white,
    rgba(167, 167, 167, 1)
  ); /* Set the gradient from white to gray horizontally */
  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent;
  opacity: 1;
  transform: none;
  width: fit-content;
  margin: auto;
  border-bottom: 1px gray solid;
}
.leftmockupimg {
  background-size: contain;
  width: 20%;
  margin-left: 33rem;
  margin-top: 8rem;
  position: absolute;
}
.righthit {
  /* background-color: #005ae4; */
  border-radius: 3rem;
  height: 40vh;
  width: 73%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25rem;
}
.righthit:hover {
  background-color: #005ae4;
}
.righthitone {
  width: 46%;
  color: var(--white);
  margin-right: 6.5rem;
}
.imgiconone {
  background-color: #ffdbfe;
  width: 10%;
  height: 17%;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-self: center;
  display: flex;
}
.imgicontwo {
  background-color: #b8eefe;
  width: 10%;
  height: 17%;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-self: center;
  display: flex;
}
.imgiconthree {
  background-color: #c2f6be;
  width: 10%;
  height: 17%;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-self: center;
  display: flex;
}
.imgiconset {
  transform: scale(0.7);
}
.hittitle {
  font-family: var(--font-family-syne);
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
  margin-top: 2rem;
  margin-bottom: 0.7rem;
}
.hitdesc {
  /* font-family: var(--font-family-syne); */
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;

  text-transform: capitalize;
}

.ctatext {
  font-family: var(--font-family-syne);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
}
.righthitsecond {
  /* background-color: transparent; */
  border-radius: 3rem;
  height: 40vh;
  width: 73%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.righthitsecond:hover {
  background-color: #005ae4;
}
.righthitthird {
  border-radius: 3rem;
  height: 40vh;
  width: 73%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.righthitthird:hover {
  background-color: #005ae4;
}

@media (max-width: 768px) {
  .hitcontainer {
    padding: 2rem 0rem;
  }
  .hittop {
    font-size: 2.9rem;
    text-align: center;
  }
  .leftmockupimg {
    width: 50%;
    margin: auto;
    margin: auto;
    position: relative;
    display: none;
  }
  .contentcontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .righthit {
    /* background-color: #005ae4; */
    border-radius: 3rem;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin: auto;
    margin-top: 5rem;
  }
  .righthitone {
    width: 100%;
    margin-right: 0rem;
    padding: 1.5rem 1.5rem;
  }
  .imgiconone {
    width: 13%;
    height: 17%;
  }
  .righthitsecond,
  .righthitthird {
    width: 90%;
  }
  .imgicontwo {
    width: 13%;
  }
}
