.hitcontainer {
  background-color: #1d1c1f;
  padding: 8rem 0rem;
}
.hittop {
  font-family: var(--font-family-syne);
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 8.3rem;
  letter-spacing: 0em;
  text-align: center;
  /* color: var(--headingcolor); */
  background: linear-gradient(
    to right,
    white,
    rgba(167, 167, 167, 1)
  ); /* Set the gradient from white to gray horizontally */
  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent;
  opacity: 1;
  transform: none;
  width: fit-content;
  margin: auto;
  border-bottom: 1px gray solid;
}

/* StickyComponent.css */
.container {
  display: flex;
  flex-direction: column;
}

.left {
  position: sticky;
  top: 0;
  height: 100vh;
}

.left img {
  width: 87%;
  height: 100%;
  object-fit: contain;
}

.right {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  align-items: center;
}

/* Add styles for your content here */
.content {
  font-size: 2rem;
  line-height: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.findphototgraphercontainer {
  padding: 4rem 4rem;
  border-radius: 3rem;
}
.findphototgraphercontainer:hover {
  background-color: #005be4;
  padding: 4rem 4rem;
  border-radius: 3rem;
  cursor: pointer;
}
.hittitle {
  font-family: var(--font-family-syne);
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
  margin-top: 2rem;
  margin-bottom: 0.7rem;
  color: white;
}
.hitdesc {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  text-transform: capitalize;
}
.ctatext {
  font-family: var(--font-family-syne);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.layoutsetting {
  display: flex;
  width: 65%;
  margin: auto;
}

@media (max-width: 768px) {
  .hitcontainer {
    padding: 2rem 0rem;
  }
  .hittop {
    font-size: 2.9rem;
    text-align: center;
  }
  .left {
    position: sticky;
    top: 0;
    height: 100vh;
    display: none;
  }

  .left img {
    width: 87%;
    height: 100%;
    object-fit: contain;
    display: none;
  }
  .right {
    margin-top: 0rem;
  }
  .layoutsetting {
    display: flex;
    width: 100%;
    margin: auto;
  }
  .findphototgraphercontainer {
    padding: 2rem 2rem;
    border-radius: 3rem;
    margin-bottom: 0rem;
  }
  .findphototgraphercontainer:hover {
    padding: 2rem 2rem;
    border-radius: 3rem;
  }
}
